Django==3.1
graphene==2.1.8
graphene-django==2.13.0
django-debug-toolbar==2.2
django-filter==2.3.0
Fabric3==1.14.post1
rq==1.5.2
redis==3.5.3
requests==2.24.0
rq-scheduler==0.10.0
django-rq==2.3.2
coverage==5.3
mock==4.0.2